@import 'nib'
@import 'external/normalize.styl'
@import 'external/slider.styl'

black_a = #242424
black_b = #333

body
	font-size 16px
	font-family 'Dosis' 
a 
	text-decoration none
p
	font-size 1.4em
	padding 0 .5em
	letter-spacing 2px

.showmenu
	top 0 !important
	
.article 
	position relative
	
.header
	overflow hidden
.menu,
.menu-btn
	background black_a
	box-sizing border-box
	margin 0
	padding 0
	width 100%
	z-index 1
.menu
	position absolute
	top -300px
	transition .3s
	&-item
		height 50px
		line-height 50px
		list-style none
		margin 0
		transition .2s
		text-align center
		box-shadow inset 0 0 0,
		1px 1px 0px #717171
		&-link
			display block
			text-transform uppercase
			color white
		&:first-child
			text-align right
			background black_b
			padding-right 20px
		&:hover
			background black_b

.decription 
	text-align center
.fig
	margin 0 0 
	padding 1em 0
	overflow hidden
	&-img
		border-radius 100%


.map 

	width 100%
	height 400px
	box-sizing border-box
	border-top 3px solid #777
	border-bottom 3px solid #777


@media screen and (min-width 1024px)
	.header
		text-align right
	.menu
		top 0
		&-item
			padding 0 4%
			display inline-block
			&:first-child
				display none
	.menu-btn
		display none
	
	
	
	
	
