<!DOCTYPE html>
<html ng-app="aduhos" lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Aduhos</title>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<!-- MENU -->
	<div class="content" ng-controller="buttonsclicks as btns">
		<header class="header">
			<ul class="menu" ng-class="{showmenu:btns.active === true}">
				<li class="menu-item"><a class="menu-item-link" ng-click="btns.changeActive()" href="#">MENU</a></li>
				<li class="menu-item"><a class="menu-item-link" href="#">Inicio</a></li>
				<li class="menu-item"><a class="menu-item-link" href="#">Quienes somos</a></li>
				<li class="menu-item"><a class="menu-item-link" href="#">Productos</a></li>
				<li class="menu-item"><a class="menu-item-link" href="#">Servicio</a></li>
				<li class="menu-item"><a class="menu-item-link" href="#">Contacto</a></li>
			</ul>
			<nav>
				<ul class="menu-btn">
					<li class="menu-item"><a class="menu-item-link" ng-click="btns.changeActive()" href="#">MENU</a></li>
				</ul>
			</nav>
		</header>
	<!-- MENU -->
	<!-- SLIDER -->
		<!--
		<div class="myslide" ng-controller="slider">
			<ul class="rslides">
				<li><img class="slideimgs" src="img/slide/slideimage1.png" width="1366" height="600" alt=""></li>
				<li><img class="slideimgs" src="img/slide/slideimage1.png" width="1366" height="600" alt=""></li>
				<li><img class="slideimgs" src="img/slide/slideimage1.png" width="1366" height="600" alt=""></li>
			</ul>
		</div> -->
	<!-- SLIDER -->
		<section>
			<article class="article decription">
				<figure class="fig">
					<img width="350" height="350" class="fig-img" src="img/main/des1.png" alt="">
				</figure>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nisi quisquam labore assumenda. Possimus reiciendis, reprehenderit adipisci quasi repudiandae tempora similique dolorem tempore sunt error molestiae cupiditate ut, recusandae magnam.
				</p>
			</article>
			<article class="article decription">
				<figure class="fig">
					<img width="350" height="350" class="fig-img" src="img/main/des1.png" alt="">
				</figure>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nisi quisquam labore assumenda. Possimus reiciendis, reprehenderit adipisci quasi repudiandae tempora similique dolorem tempore sunt error molestiae cupiditate ut, recusandae magnam.
				</p>
			</article>
			<article class="article decription">
				<figure class="fig">
					<img width="350" height="350" class="fig-img" src="img/main/des1.png" alt="">
				</figure>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nisi quisquam labore assumenda. Possimus reiciendis, reprehenderit adipisci quasi repudiandae tempora similique dolorem tempore sunt error molestiae cupiditate ut, recusandae magnam.
				</p>
			</article>
		</section>
		<section ng-controller="gmaps">
			<div id="map" class="map"></div>
		</section>
	</div>
	<script type="text/javascript" src="js/vendors/angular.js"></script>
	<script type="text/javascript" src="js/vendors/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/controllers/app_controller.js"></script>
	<script type="text/javascript" src="js/vendors/responsiveslides.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="js/vendors/gmaps.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>